<div>
  <section
    class="gn-md-side-dates"
    data-ng-if="mdView.current.record.resourceDate.length > 0"
  >
    <ul>
      <li data-ng-repeat="date in mdView.current.record.resourceDate">
        <div
          class="badge badge-rounded"
          data-ng-class="{'danger': date.type === 'deprecated'}"
        >
          <i
            class="fa fa-fw"
            data-ng-class="{'fa-chevron-right': date.type === 'creation', 'fa-code-fork': date.type === 'superseded','fa-ban': date.type === 'deprecated', 'fa-retweet': date.type === 'revision', 'fa-check': date.type === 'publication', 'fa-calendar': date.type === 'nextUpdate'}"
          />
        </div>
        <span>
          <h3 data-translate>{{date.type | translate}}</h3>
          <span data-gn-humanize-time="{{date.date}}"></span>
        </span>
      </li>
    </ul>
  </section>

  <div
    data-ng-if="mdView.current.record.cl_maintenanceAndUpdateFrequency.length > 0"
    class="gn-margin-bottom flex-row"
  >
    <span class="badge badge-rounded" title="{{'updateFrequency' | translate}}">
      <i class="fa fa-fw fa-language"></i>
    </span>
    <div>
      <h3 data-translate="">updateFrequency</h3>
      <p data-ng-repeat="c in mdView.current.record.cl_maintenanceAndUpdateFrequency">
        {{c.default}}
      </p>
    </div>
  </div>

  <!-- Author-->
  <div data-ng-if="mdView.current.record.author" class="gn-margin-bottom flex-row">
    <span class="badge badge-rounded" title="{{author | translate}}">
      <i class="fa fa-fw fa-info"></i>
    </span>
    <div>
      <h3 data-translate="">author</h3>
      <ul class="gn-comma-list">
        <div ng-if="isArray(mdView.current.record.author)">
          <div data-ng-repeat="a in mdView.current.record.author">
            <p>{{a | translate}}</p>
          </div>
        </div>
        <div ng-if="!isArray(mdView.current.record.author)">
          <p>{{mdView.current.record.author | translate}}</p>
        </div>
      </ul>
    </div>
  </div>

  <!-- Licence-->
  <div
    data-ng-if="mdView.current.record.legalconstraints"
    class="gn-margin-bottom flex-row"
  >
    <span class="badge badge-rounded" title="{{licence | translate}}">
      <i class="fa fa-fw fa-info"></i>
    </span>
    <div>
      <h3 data-translate="">licence</h3>
      <ul class="gn-comma-list">
        <p>{{mdView.current.record.legalconstraints | translate}}</p>
        <span data-ng-bind-html="mdView.current.record.legalconstraintslinkage | linky" />
      </ul>
    </div>
  </div>
</div>

<div>
  <!-- Purpose-->
  <div data-ng-if="mdView.current.record.purposeObject" class="gn-margin-bottom flex-row">
    <span class="badge badge-rounded" title="{{purpose | translate}}">
      <i class="fa fa-fw fa-info"></i>
    </span>
    <div>
      <h3 data-translate="">purpose</h3>
      <ul class="gn-comma-list">
        <p>{{mdView.current.record.purposeObject.default | translate}}</p>
      </ul>
    </div>
  </div>

  <!-- Resource identifier-->
  <div
    data-ng-if="mdView.current.record.resourceIdentifier"
    class="gn-margin-bottom flex-row"
  >
    <span class="badge badge-rounded" title="{{identifier | translate}}">
      <i class="fa fa-fw fa-info"></i>
    </span>
    <div>
      <h3 data-translate="">identifier</h3>
      <ul class="gn-comma-list">
        <li data-ng-repeat="i in mdView.current.record.resourceIdentifier">
          <span data-ng-bind-html="i.code | linky" />
        </li>
      </ul>
    </div>
  </div>

  <!-- Language-->
  <div
    data-ng-if="mdView.current.record.resourceLanguage.length > 0"
    class="gn-margin-bottom flex-row"
  >
    <span class="badge badge-rounded" title="{{'language' | translate}}">
      <i class="fa fa-fw fa-language"></i>
    </span>
    <div>
      <h3 data-translate="">language</h3>
      <ul class="gn-comma-list">
        <li data-ng-repeat="l in mdView.current.record.resourceLanguage">
          {{l | translate}}
        </li>
      </ul>
    </div>
  </div>

  <div ng-include="'../../catalog/views/default/templates/recordView/categories.html'" />

  <div
    data-ng-if="mdView.current.record.cl_classification > 0"
    class="gn-margin-bottom flex-row"
  >
    <span class="badge badge-rounded" title="{{'classification' | translate}}">
      <i class="fa fa-fw fa-tags"></i>
    </span>
    <div>
      <h3 data-translate="">classification</h3>
      <ul>
        <li data-ng-repeat="c in mdView.current.record.cl_classification">
          {{c.default}}
        </li>
      </ul>
    </div>
  </div>
</div>
